<h3>Welcome To Elearn</h3>
	<p>
	Lorem ipsum dolor sit amet, consectetuer <em>adipiscing elit</em>, sed diam nonummy nibh euismod 
	</p>
	<a class="button" href="/users/signup">Sugn Up Free</a>
	<p>You need to signup to register for free classes</p>